---
- name: Install tor
  apt: name=tor state=present

- name: Add torrc with ssh hidden service setup
  template: src=torrc.j2 dest=/etc/tor/torrc
  register: torrc

- name: Restart and enable tor
  service: name=tor state=restarted enabled=yes
  when: torrc.changed

- name: Update /etc/resolv.conf to point to Tor
  template: src=resolv.conf.j2 dest=/etc/resolv.conf
  when: tor_isolate_dns and torrc.changed

- name: Grab ssh onion address
  shell: cat /var/lib/tor/ssh/hostname | awk '{print $1}'
  register: onion_address
  when: ssh_onion and torrc.changed

- name: Grab ssh client descriptor cookie
  shell: cat /var/lib/tor/ssh/hostname | awk '{print $2}'
  register: descriptor_cookie
  when: ssh_onion and torrc.changed

- name: Grab sandstorm onion address
  shell: cat /var/lib/tor/sandstorm/hostname | awk '{print $1}'
  register: sandstorm_onion_address
  when: sandstorm_onion and torrc.changed

- name: Grab sandstorm client descriptor cookie
  shell: cat /var/lib/tor/sandstorm/hostname | awk '{print $2}'
  register: sandstorm_descriptor_cookie
  when: sandstorm_onion and torrc.changed

- name: IMPORTANT! Here is your ssh onion address, you will need this to
    administer your server!
  debug: msg="{{onion_address.stdout}}"
  when: ssh_onion and torrc.changed

- name: IMPORTANT! You also need to add this auth key to your torrc
  debug: msg="HidServAuth {{onion_address.stdout}} {{descriptor_cookie.stdout}}"
  when: ssh_onion and torrc.changed

- name: IMPORTANT! Here is your sandstorm onion address, you will need this to
    administer your server!
  debug: msg="{{sandstorm_onion_address.stdout}}"
  when: sandstorm_onion and torrc.changed

- name: IMPORTANT! You also need to add this auth key to your torrc
  debug: msg="HidServAuth {{sandstorm_onion_address.stdout}} {{sandstorm_descriptor_cookie.stdout}}"
  when: sandstorm_onion and torrc.changed
