---
# handlers file for sandstorm-base
- name: restart nginx
  service: name=nginx state=restarted
- name: restart sshd
  service:
    name: sshd
    state: restarted
  tags:
    - ssh
- name: restart fail2ban
  service:
    name: fail2ban
    state: restarted
