#!/usr/bin/env bash
set -e

export PASSPHRASE=GARBAGE
export SIGN_PASSPHRASE=MOARTRASH

export FTP_PASSWORD="{{ backup_target_password }}"

duplicity full /opt/sandstorm/ {{ backup_target }} \
  --encrypt-key={{ backup_encryption_key_id }} \
  --sign-key={{ backup_signing_key_id }} \
  --archive-dir /var/duplicity-archive \
  --gpg-options '--trust-model=always --homedir=/var/gpg'
