SERVER_USER=sandstorm
PORT={{ sandstorm_port }}
MONGO_PORT=6081
BIND_IP=127.0.0.1
BASE_URL=https://{{ sandstorm_hostname }}
WILDCARD_HOST=*.{{ sandstorm_hostname }}
UPDATE_CHANNEL=dev
ALLOW_DEV_ACCOUNTS=yes
